/* v-abc : v stands for vanila*/

/* Navigation Bar */
.v-nav_link {
    position: relative;
}
.v-nav_link::after {
    content: "";
    position: absolute;
    background-color: rgb(6, 106, 224,0.6);
    width: 0px;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.v-nav_link:hover::after {
    width: 100%;
}